@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFBFE;
}
/* マインクラフト風背景 */
.minecraft-bg-home {
  background-image: url('/images/backgrounds/bg-main.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.minecraft-bg-card {
  background-image: url('/images/backgrounds/bg-card.png');
  background-size: cover;
  background-position: center;
}
